obj
bin
lib
**/*~
**/*.kdev4
Makefile
Makefile.in
#*
.#*
.deps/
autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.h.in
configure
configure.scan
depcomp
install-sh
missing
stamp-h1
*.o
*.a
