Source: waffles
Priority: optional
Maintainer: Charlie Turner <charlie@dune.rocks>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Section: libs
Homepage: http://uaf46365.ddns.uark.edu/waffles/
#Vcs-Git: git://git.debian.org/collab-maint/waffles.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/waffles.git;a=summary

Package: waffles-dev
Section: libdevel
Architecture: any
#Depends: waffles1 (= ${binary:Version})
Description: Waffles machine learning toolkit.
 <insert long description, indented with spaces>

Package: waffles-tools
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Waffles tools
 <insert long description, indented with spaces>
